@import "tailwindcss";

:root {
  --background: #ede8e8;
  --foreground: #171717;
  overflow: auto;
}

@theme {
  --font-display: "Lora", serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #ede8e8;
  color: var(--foreground);
}
.box_container {
  background: linear-gradient(90deg, #191a1a 0%, #57748ba6 50%, #0c3b60 100%);
  padding: 30px;
}
.hero {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-bg {
  background-image: url("/assets/home/background-home-desktop.jpg");
}
.destination-bg {
  background-image: url("/assets/destination/background-destination-desktop.jpg");
}
.crew-bg {
  background-image: url("/assets/crew/background-crew-desktop.jpg");
}
.technology-bg {
  background-image: url("/assets/technology/background-technology-desktop.jpg");
}
.container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: auto 1fr 1fr;
}
.grid-item.nested-grid {
  display: grid;
  grid-template-columns: 1.5em 200px;
  grid-template-rows: 150px 4rem;
}
@media (max-width: 1023px) {
  .home-bg {
    background-image: url("/assets/home/background-home-tablet.jpg");
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}
